.main {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  gap: 16px;
  margin: 16px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid green;
  padding: 1em;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.stack {
  width: 11em;
  border: 2px solid red;
  grid-row: 1 / span 2;
  grid-column: 3;
}

.numberKeyContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

.zeroNumber {
  grid-column-end: span 2;
  width: revert;
}

.opKeyContainer {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
}

button {
  width: 4em;
  height: 4em;
}
